# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.idea/
.vscode/
*.sublime-*

# Logs
*.log

# Python http server cache
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log*

# Capacitor build artifacts
capacitor-cordova-ios-plugins/
capacitor-cordova-android-plugins/